<div class="container-fluid mt-5 pt-4">
  <div class="row align-items-center ">
    <div class="col-12 col-md-2 text-center text-md-start mb-3 mb-md-0 p-1">
      <img src="/assets/warehouse-logo.png" alt="G2 Warehouse Logo" class="img-fluid mx-auto d-block"/>
    </div>
    <div class="col-12 col-md-10">
      <div class="row">
        <div class="col-12 col-md-7">
          <p>
            Software de logística de G2 Warehouse para envíos de productos entre
            almacenes.<br />Cualquier incidencia comunicar por las vías
            facilitadas en el área de contacto para transmitirlo al encargado jefe
            de almacenes.
          </p>
        </div>
        <div class="col-6 col-md-2">
          <p class="h6 fw-bold">ENLACES</p>
          <p class="mb-2"><a href="#" class="link-light link-offset-2">Inicio</a></p>
          <p class="mb-2"><a href="#" class="link-light link-offset-2">dfgdgns</a></p>
        </div>
        <div class="col-6 col-md-3">
          <p class="h6 fw-bold">CONTACTO</p>
          <p class="mb-2">93 806 409 609</p>
          <p class="text-truncate mb-2">incidencias&#64;g2warehouse.com</p>
        </div>
      </div>
      <div class="border-top pt-3 mt-3 text-center">
        <p class="small">
          2024 copyright g2warehouse.inc Logistics Managment Software, Spain. All
          Rights Reserved
        </p>
      </div>
    </div>
  </div>
</div>
