<div class="container">
    @if(loginUser[0].rol === "driver"){
        <div class="mb-5 d-flex justify-content-end img-fluid">
            <i class="fa-solid fa-truck fa-xl"> {{loginUser[0].name}} </i>
        </div>
        <div class=" d-flex justify-content-start mb-4 ">
            <app-new-order-btn></app-new-order-btn>
        </div>
    }@else if(loginUser[0].rol === "manager"){ 
        <div class="mb-5">
            <i class="fa-solid fa-user-tie fa-xl"> {{ loginUser[0].name }} </i>
        </div>
        
        
    }
   
    <div>
        <app-order-filter (filteredDeliveriesChange)="filterPadre($event)"></app-order-filter>
    </div>

    <section class="mt-5">
        <div class="table-responsive">
            <table class="table table-borderless table-hover  ">
                <thead  [class]= "loginUser[0].rol === 'driver' ? 'driver' : 'manager'" >
                    <tr>
                        <th scope="col">Orders</th>
                        <th scope="col" class="d-none d-md-table-cell">Date</th>
                        <th scope="col">Destination</th>
                        <th scope="col" class="d-none d-md-table-cell">Number plate</th>
                        <th scope="col">Status</th>
                        @if(loginUser[0].rol === "driver"){
                        <th scope="col">Edit</th>
                        }@else if(loginUser[0].rol === "manager"){
                        <th scope="col">Review</th>
                        }

                    </tr>
                </thead>
                <tbody>

                    @for(order of this.arrDeliveri; track order.ID_delivery){
                    <tr>
                        <th scope="row" [class]= "loginUser[0].rol === 'driver' ? 'text-primary' : 'text-manager'" class=" pointer" [routerLink]="['/dashboard','operator','order-form',order.ID_delivery]">{{order.ID_delivery}}</th>
                        <td class="d-none d-md-table-cell">{{order.Received_date}}</td>
                        <td>{{order.Destiny_warehouse.Name}}</td>
                        <td class="d-none d-md-table-cell">{{order.Truck.Plate}}</td>
                        <td>
                            <button class="btn btn-light">
                                <div class="task-status">
                                    @if(order.Status === "correction needed" ){
                                    <span class="status-circle corrections d-none d-lg-table-cell"></span>
                                    <p class="td-p text-danger">{{order.Status}} <i
                                            class="fa-solid fa-circle-exclamation"></i></p>
                                    }@else if(order.Status === "in transit"|| order.Status === "accepted"){
                                    <p class="td-p text-success">{{order.Status}}<i
                                            class="fa-solid fa-truck-fast fa-lg"></i></p>
                                    }@else if(order.Status === "ready departure"){
                                    <span class="status-circle ready d-none d-lg-table-cell"></span>
                                    <p class="td-p text-success">{{order.Status}}</p>
                                    }@else if(order.Status === "pending"){
                                    <p class="td-p text-warning">{{order.Status}}</p>
                                    }
                                </div>
                            </button>
                        </td>
                        <td>
                            @if(loginUser[0].rol === "driver"){
                                <button class="btn btn-outline-primary" [routerLink]="['/dashboard','operator','order-form',order.ID_delivery]">
                                    <i class=" fa-regular fa-pen-to-square fa-xl"></i>
                                </button>
                            }@else if (loginUser[0].rol === "manager") {
                                <button class="btnreview" [routerLink]="['/dashboard','operator','order-form',order.ID_delivery]">
                                    <i class=" fa-solid fa-eye fa-xl"></i>
                                </button>
                            }
                            
                        </td>
                    </tr>
                    }


            </table>
        </div>
    </section>
</div>