<div class="layout-grid">
    <div class="card-container">
      <div class="card">
        <div class="card-body">REGISTRAR EMPLEADOS</div>
      </div>
      <div class="card">
        <div class="card-body">REGISTRAR ALMACENES</div>
      </div>
    </div>
  
    <div class="store-container">
      <div class="store">
        <div class="store-header">ALMACEN A</div>
        <div class="store-body">
          <div class="store-status">Open Store</div>
          <div class="store-description">Lorem ipsum dolor sit amet.</div>
          <div class="store-actions">
            <button class="read-more">Read More</button>
            <div class="icons">
              <i class="fa fa-clipboard-check"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-regular fa-face-grin"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="store">
        <div class="store-header">ALMACEN B</div>
        <div class="store-body">
          <div class="store-status">Open Store</div>
          <div class="store-description">Lorem ipsum dolor sit amet.</div>
          <div class="store-actions">
            <button class="read-more">Read More</button>
            <div class="icons">
              <i class="fa fa-clipboard-check"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-regular fa-face-grin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  