<section class="container margin d-flex justify-content-between responsive-section">
        <div class="pt-5">
            <img src="../../../assets/employee-test.jpg" alt="imagen" class="rounded-circle img-small">
        </div>

        <div class="divider mx-3"></div>

        <div class="pt-5" *ngIf="userInfo && warehouseInfo">
            <p class="p-2 nunito-sans fs-1">{{userInfo.name}} {{userInfo.surname}}</p>
            <hr>
            <p class="p-2 pt-4 fs-4"><strong>Position:</strong> {{userInfo.rol}}</p>
            <p class="p-2 fs-4"><strong>Employee ID:</strong> {{userInfo.id_user}}</p>
            <p class="p-2 fs-4"><strong>Email:</strong> {{userInfo.email}}</p>
            <p class="p-2 fs-4"><strong>Wharehouse:</strong> {{warehouseInfo.name}}</p>
            <p class="p-2 fs-4"><strong>Wharehouse locality:</strong> {{warehouseInfo.locality}}</p>
            <div class="pt-4">
                <button class="btn btn-outline-danger m-1 p-3 px-5" (click)="deleteUser()">Delete</button>
                <a class="btn btn-outline-success m-1 p-3 px-5" href="/dashboard/boss/w-userform">Update</a>
                <a class="btn btn-outline-secondary m-1 p-3 px-5" href="/dashboard/boss/employee-view">Back to list</a>
            </div>
        </div>
        <div *ngIf="!userInfo || !warehouseInfo">
            <p>Cargando información...</p>
          </div>
</section>