<section class="container mt-5">
  <div class="card shadow-lg p-4">
    <h3 class="text-center my-4">Insert a order</h3>
    <hr />
    <form>
      <div class="my-3">
        <label class="form-label" for="ordername">Order name</label>
        <input
          class="form-control rounded-pill"
          type="text"
          id="ordername"
          formControlName="ordername"
          placeholder="Enter the order name"
        />
      </div>
      <div class="my-3">
        <label class="form-label" for="departure-date">Departure date</label>
        <input
          class="form-control rounded-pill"
          type="date"
          id="departure-date"
          formControlName="departure-date"
          placeholder="Enter the departure date"
        />
      </div>
      <div class="my-3">
        <label class="form-label" for="origin">Origin</label>
        <input
          class="form-control rounded-pill"
          type="text"
          id="origin"
          formControlName="origin"
          placeholder="Enter the origin"
        />
      </div>
      <div class="my-3">
        <label class="form-label" for="destination">Destination</label>
        <input
          class="form-control rounded-pill"
          type="text"
          id="destination"
          formControlName="destination"
          placeholder="Enter the destination"
        />
      </div>
      <div class="my-3">
        <label class="form-label" for="truck">Truck license plate</label>
        <input
          class="form-control rounded-pill"
          type="text"
          id="truck"
          formControlName="truck"
          placeholder="Enter the truck license plate"
        />
      </div>
      <div class="my-3">
        <label class="form-label" for="load-type">Load type</label>
        <input
          class="form-control rounded-pill"
          type="text"
          id="load-type"
          formControlName="load-type"
          placeholder="Enter the load type"
        />
      </div>
      <div class="my-3">
        <label class="form-label" for="load-details">Load details</label>
        <input
          class="form-control rounded-pill"
          type="text"
          id="load-details"
          formControlName="load-details"
          placeholder="Add load details"
        />
      </div>
      <div class="d-flex justify-content-center gap-2 my-3">
        <input
          type="submit"
          value="Create"
          class="btn btn-success rounded-pill btn-size"
        />
        <input
          type="submit"
          value="Back to home"
          class="btn btn-danger rounded-pill btn-size"
        />
      </div>
    </form>
  </div>
</section>
