<div class="container mt-3 d-flex justify-content-end">

    <button class="btn btn-light p-4">
        <span>
            <i class="fa-solid fa-box-open fa-xl" style="color: #000; "></i><strong> NEW ORDER</strong> 
        </span>
     </button>
    
</div>
<section class="container mt-3">
    <table class="table table-hover">
        <thead class="table table-info">
            <tr>
                <th scope="col">Orders</th>
                <th scope="col">Date</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Number plate</th>
                <th scope="col">Status</th>
                <th scope="col">Send order</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="pointer"><strong class="text-info pointer ">AUIT34J</strong></th>
                <td>21/10/2024</td>
                <td>Sevilla</td>
                <td>Madrid</td>
                <td>8547MDF</td>
                <td><button class="btn btn-light text-success">Active</button></td>
                <td>
                    <button class="btn btn-light">
                        <div class="task-status">
                            <span class="status-circle completed"></span>
                            <p class="td-p">Ready</p>
                        </div>
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-info">
                        <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row" class="pointer"><strong class="text-info">BESRT58</strong></th>
                <td>21/10/2024</td>
                <td>Sevilla</td>
                <td>Madrid</td>
                <td>8547MDF</td>
                <td>
                    <button class="btn btn-light text-danger">Not Active</button>
                </td>
                <td> 
                    <button class="btn btn-light">
                        <div class="task-status">
                            <span class="status-circle in-progress"></span>
                            <p class="td-p">Waiting</p>
                        </div>
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-info">
                        <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row" class="pointer"><strong class="text-info">AJET34X</strong></th>
                <td>21/10/2024</td>
                <td>Sevilla</td>
                <td>Madrid</td>
                <td>8547MDF</td>
                <td>
                    <button class="btn btn-light text-danger">Not Active</button>
                </td>
                <td> 
                    <button class="btn btn-light">
                    <div class="task-status">
                        <span class="status-circle pending"></span>
                        <p class="td-p">Review</p>
                    </div>
                </button>
                </td>
                <td>
                    <button class="btn btn-outline-info">
                        <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>