<nav class="navbar">
    <div class="container mt-3 d-flex justify-content-end gap-3">
        <button class="btn btn-light p-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="fa-solid fa-arrow-up-wide-short fa-l" style="color: #000000;"></i>
                <Strong> Filter</Strong>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Send Orders</a></li>
                <li><a class="dropdown-item" href="#">Status</a></li>
                <li><a class="dropdown-item" href="#">Origin</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Order Arrive</a></li>
            </ul>
        </button>
        <button class="btn btn-light p-4">
            <span>
                <i class="fa-solid fa-box-open fa-xl" style="color: #000; "></i><strong> NEW ORDER</strong>
            </span>
        </button>
    </div>
</nav>
<section class="container mt-3">
    <div class="table-responsive">
        <table class="table table-borderless table-hover  ">
            <thead class="table table-primary">
                <tr>
                    <th scope="col">Orders</th>
                    <th scope="col">Date</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Number plate</th>
                    <th scope="col">Status</th>
                    <th scope="col">Review</th>
                    <th scope="col"><i class="fa-solid fa-plane-departure fa-lg"></i>Send Order</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="pointer"><strong class="text-primary pointer ">AUIT34J</strong></th>
                    <td>21/10/2024</td>
                    <td>Sevilla</td>
                    <td>Madrid</td>
                    <td>8547MDF</td>
                    <td><button class="btn btn-light text-success ">Active</button></td>
                    <td>
                        <button class="btn btn-light">
                            <div class="task-status">
                                <span class="status-circle completed"></span>
                                <p class="td-p">Ready</p>
                            </div>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success">
                            <div class="task-status">
                                <p class="td-p ">Send</p>
                            </div>
                        </button>
                    </td>

                    <td>
                        <button class="btn btn-outline-primary">
                            <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pointer"><strong class="text-primary pointer">BESRT58</strong></th>
                    <td>21/10/2024</td>
                    <td>Sevilla</td>
                    <td>Madrid</td>
                    <td>8547MDF</td>
                    <td>
                        <button class="btn btn-light text-danger ">Not Active</button>
                    </td>
                    <td>
                        <button class="btn btn-light">
                            <div class="task-status">
                                <span class="status-circle in-progress"></span>
                                <p class="td-p">Waiting</p>
                            </div>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger">
                            <div class="task-status">
                                <p class="td-p ">Not send</p>
                            </div>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary">
                            <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="pointer"><strong class="text-primary pointer">AJET34X</strong></th>
                    <td>21/10/2024</td>
                    <td>Sevilla</td>
                    <td>Madrid</td>
                    <td>8547MDF</td>
                    <td>
                        <button class="btn btn-light text-danger ">Not Active</button>
                    </td>
                    <td>
                        <button class="btn btn-light">
                            <div class="task-status">
                                <span class="status-circle pending"></span>
                                <p class="td-p">Review</p>
                            </div>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger">
                            <div class="task-status">
                                <p class="td-p">Not Send</p>
                            </div>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary">
                            <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>