<section class="container mt-5">
  <div class="card shadow-lg p-4">
    <h3 class="text-center my-4">Creation of warehouse</h3>
    <hr />
    <form [formGroup]="warehouseForm" (ngSubmit)="getDataForm()">
      <div class="my-3">
        <label class="form-label" for="name"
          >Warehouse name <span class="text-danger">*</span></label
        >
        <input
          class="form-control rounded-pill"
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter the name of the warehouse"
        />
        @if (warehouseForm.get('name')?.invalid &&
        warehouseForm.get('name')?.touched){
        <div class="text-danger">
          @if (warehouseForm.get('name')?.hasError('required')){
          <small>Name is required</small>
          }
        </div>
        }
      </div>
      <div class="my-3">
        <label class="form-label" for="locality"
          >Locality<span class="text-danger">*</span></label
        >
        <input
          class="form-control rounded-pill"
          type="text"
          id="locality"
          formControlName="locality"
          placeholder="Enter the locality of the warehouse"
        />
        @if (warehouseForm.get('locality')?.invalid &&
        warehouseForm.get('locality')?.touched){
        <div class="text-danger">
          @if (warehouseForm.get('locality')?.hasError('required')){
          <small>Locality is required</small>
          }
        </div>
        }
      </div>
      <div class="my-3">
        <label class="form-label" for="address"
          >Address<span class="text-danger">*</span></label
        >
        <input
          class="form-control rounded-pill"
          type="text"
          id="address"
          formControlName="address"
          placeholder="Enter the street of the warehouse"
        />
        @if (warehouseForm.get('address')?.invalid &&
        warehouseForm.get('address')?.touched){
        <div class="text-danger">
          @if (warehouseForm.get('address')?.hasError('required')){
          <small>Address is required</small>
          }
        </div>
        }
      </div>
      <div class="my-3">
        <label class="form-label" for="image"
          >Upload image<span class="text-danger">*</span></label
        >
        <div class="image-upload">
          <input
            class="form-control rounded-pill"
            type="file"
            id="image"
            (change)="onFileSelected($event)"
            accept=".jpeg, .jpg, .gif, .png"
          />
          @if (warehouseForm.get('image')?.invalid &&
          warehouseForm.get('image')?.touched){
          <div class="text-danger">
            @if (warehouseForm.get('image')?.hasError('required')){
            <small>Image is required</small>
            } @if (warehouseForm.get('image')?.hasError('invalidImageFile')){
            <small>Must be a valid image file</small>
            }
          </div>
          }
        </div>
      </div>
      <div class="d-flex justify-content-center gap-2 my-3">
        <input
          type="submit"
          value="Create"
          class="btn btn-success rounded-pill btn-size"
        />
        <button
          type="button"
          (click)="backTo()"
          class="btn btn-danger rounded-pill btn-size"
        >
          Back to
        </button>
      </div>
    </form>
  </div>
</section>
