<div class="background">
    <div class="d-flex justify-content-center align-items-center vh-100 form-container">

        <div class="card card-padding shadow box" id="login-form">
 
            <img class="logo pt-4 pb-3" src="rountravel.png" alt="gestionusuarios">
            <h2 class="text-left ps-4 pt-4 pb-3 pe-4">Account login</h2>
            <p class="text-left ps-4 pt-2 pb-4 pe-4 p-custom">Log in by entering your identification and password.</p>

            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="ps-4 pe-4 pt-3 pb-3 email-container">
                    <label class="pb-2 label-text" for="email">Identification</label>
                    <input class="form-control custom-input" type="email" id="email" placeholder="email@warehouse.com" [(ngModel)]="email" name="email" required />
                </div>

                <div class="ps-4 pe-4 pt-2 pb-4 password-container">
                    <label class="pb-2 label-text" for="password">Password</label>
                    <input class="form-control custom-input" type="password" id="password" placeholder="*************" [(ngModel)]="password" name="password" required />
                </div>
                @if(this.errorBoolean === true){
                    <p class="text-danger">{{this.errormsg}}</p>
                }

                <div class="ps-4 pe-4 pt-3 pb-4 d-flex justify-content-center align-items-center" id="btn-form">
                    <button class="btn btn-custom text-white w-100 rounded-3" type="submit" [disabled]="!loginForm.valid">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <p class="text-center mb-3 footer-text">
        © 2024 Roundtravel Logistics. All rights reserved. Developed by Group 2.
    </p>
</div>


<!-- <div class="background">
    <div class="d-flex justify-content-center align-items-center vh-100 form-container">

        <div class="card card-padding shadow box" id="login-form">
 
            <img class="logo pt-4 pb-3" src="rountravel.png" alt="gestionusuarios">
            <h2 class="text-left ps-4 pt-4 pb-3 pe-4">Account login</h2>
            <p class="text-left ps-4 pt-2 pb-4 pe-4 p-custom">Log in by entering your identification and password.</p>

            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="ps-4 pe-4 pt-3 pb-3 email-container">
                    <label class="pb-2 label-text" for="email">Email</label>
                    <input class="form-control custom-input" type="email" formControlName="email" id="email" placeholder="email@warehouse.com" name="email" required />
                </div>

                <div class="ps-4 pe-4 pt-2 pb-4 password-container">
                    <label class="pb-2 label-text" for="password">Password</label>
                    <input class="form-control custom-input" type="password" formControlName="password" id="password" placeholder="*************" name="password" required />
                </div>

                <div class="ps-4 pe-4 pt-3 pb-4 d-flex justify-content-center align-items-center" id="btn-form">
                    <button class="btn btn-custom text-white w-100 rounded-3" type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <p class="text-center mb-3 footer-text">
        © 2024 Roundtravel Logistics. All rights reserved. Developed by Group 2.
    </p>
</div> -->