<div class="card mb-3 border-0 shadow p-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title"><strong>Warehouse 1</strong></h2>
          <h4 class="card-subtitle mt-3 mb-4 text-info">C/ Colmenar, 1, 41098</h4>
          <p class="card-text mb-2">Warehouse 1 is located in Torre de la Reina, Sevilla, Spain. The staff is comprised of 
            2 employees: 1 truck driver and 1 product manager. The complete list of employees is found below</p>
          <p class="card-text mt-4"><strong>Location:</strong>
            <button class="btn btn-outline-info">
              <i class="fa-solid fa-location-crosshairs" style="color: #060606"></i>
            </button>
          </p>
          <p class="card-text">
            <strong>Email: </strong>
              <a [href]="'mailto: almacen1@gmail.com'">almacen1.gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body m-5">
          <div class="d-flex mt-5">
            <a class="btn btn-outline-secondary m-2">Eliminar</a>
            <a class="btn btn-outline-secondary m-2">Actualizar</a>
            <a class="btn btn-outline-secondary m-2">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
