<div class="search-bar">
  <input type="text" class="search-input" placeholder="Buscar almacenes...">
  <button class="search-button">Buscar</button>
</div>

<div class="layout-grid">

  <div class="card-container">
    <button class="btn registrar-empleados">Registrar Empleados</button>
    <button class="btn registrar-almacenes">Registrar Almacenes</button>
  </div>

  <div class="store-container">
    @for(warehouse of warehouses; track warehouse.id) {
      <div class="store">
        <div class="store-header">{{warehouse.name}}</div>
        <div class="store-body">
          <img src={{warehouse.image}} alt={{warehouse.name}} class="store-image">
          <div class="store-actions">
            <div class="icons">
              <a [routerLink]="['/dashboard', 'boss', 'warehouse-view', warehouse.id]"><i class="fas fa-info-circle icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
