<app-search-engine></app-search-engine>

<div class="layout-grid">

  <div class="card-container">
    <a class="btn registrar-empleados" [routerLink]="['/boss', 'new-employee']">Registrar Empleados</a>
    <a class="btn registrar-almacenes" [routerLink]="['/boss','new-warehouse']">Registrar Almacenes</a>
  </div>

  <div class="store-container">
    @for(warehouse of warehouses; track warehouse.id) {
      <div class="store">
        <div class="store-header">{{warehouse.name}}</div>
        <div class="store-body">
          <img src={{warehouse.image}} alt={{warehouse.name}} class="store-image">
          <div class="store-actions">
            <div class="icons">
              <a [routerLink]="['/boss', 'warehouse-view', warehouse.id]"><i class="fas fa-info-circle icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
