
<div class=" d-flex flex-row justify-content-start ">
    <div class="w-25">
        <select class="form-select" id="statusFilter" [(ngModel)]="selectedStatus" >
            <option value="">All Products</option>
            <option value="correction needed">Correction Needed</option>
            <option value="accepted">Accepted</option>
            <option value="in transit">In Transit</option>
            <option value="ready departure">Ready Departure</option>
            <option value="pending">Pending</option>
        </select>  
    </div>
    <div>
        <button (click)="filterByStatus()" class="btn btn-primary w-100 mx-4 " >Filter Status</button>
    </div>
  
</div>
