<div class="card mb-3 border-0 shadow p-4 pt-0">
    <h2 class="card-title mb-4"><strong>Employee list</strong></h2>
    
    <table class="table table-hover">
        <thead class="table table-info">
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="d-none d-sm-table-cell">Surname</th>
                <th scope="col">Rol</th>
                <th scope="col" class="d-none d-sm-table-cell">Email</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>

            @for(employee of employees; track employee.id_user){
                <tr>
                    <th scope="row" class="pointer"><strong class="text-info pointer ">{{ employee.name }}</strong></th>
                    <td class="d-none d-sm-table-cell">{{ employee.surname }}</td>
                    <td>{{ employee.role }}</td>
                    <td class="d-none d-sm-table-cell"><a [href]="'mailto:' + employee.email">{{ employee.email }}</a></td>
                    <td>
                        <a class="btn btn-outline-info" [routerLink]="['/boss', 'employee-view', employee?.id_user]">
                            <i class="fa-regular fa-eye" style="color: #060606"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" [routerLink]="['/boss', 'update-employee', employee?.id_user]">
                            <i class="fa-regular fa-pen-to-square fa-xl" style="color: #060606"></i>
                        </a>
                    </td>
                </tr>
                }

        </tbody>
    </table>
</div>