<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);



/* -- Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    /* Nunito */

    /*
        <weight>: Use a value from 200 to 1000

        .nunito-font {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        }
    */   


    /* Lato */

    /*
        <weight>: Use a value from 100 to 900
        <style>: normal or italic

        .lato-font {
        font-family: "Lato", sans-serif;
        font-weight: <weight>;
        font-style: <style>;
        }
    */
  

    /* Roboto */

    /*
        <weight>: Use a value from 100 to 900
        <style>: normal or italic

        .roboto-font {
        font-family: "Roboto", sans-serif;
        font-weight: <weight>;
        font-style: <style>;
      }  
    */


    /* Montserrat */

    /*
        <weight>: Use a value from 100 to 900

        .montserrat-font {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
    */


    /* Quicksand */

    /*
        <weight>: Use a value from 100 to 900

        .quicksand-font {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        }
    */
    

    /* Fredoka */

    /*
        <weight>: Use a value from 300 to 700

        .fredoka-font {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        }
    */


    /* Libre Franklin */

    /*
        <weight>: Use a value from 100 to 900

        .libre-franklin-font {
        font-family: "Libre Franklin", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        }
    */
    
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> feature_footer
