<header class="container-fluid py-3">
  <div class="col text-center mb-3">
    <p class="h1 fw-bold pb-3 pt-2">Rountravel Logistics</p>
    <div class="d-flex justify-content-center">
      <div class="bg-white bg-opacity-75 rounded w-50 pt-2">
        <p class="text-dark fw-bold">Welcome {{userRol}} {{userName}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto ms-auto me-5">
      <a type="button" class="btn btn-primary fw-bold border-white me-2 text-uppercase" href="/dashboard/operator/order-list">
        home
      </a>
      <a class="btn btn-danger fw-bold border-white text-uppercase" href="/login">log out</a>
    </div>
  </div>
</header>
