header {
        margin: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/header-img.jpg');
        background-size: cover;
        background-position: center;
        color: white;
      }